In [63]:
# Goal : Make a Ai Model to predict the spread of COVID-19

import pandas as pd
import numpy as np  
covid = pd.read_csv('covid_dataset.csv')
covid.head()

,Treatment_Level,Medical_Unit_Type,Sex,Patient_Care_Type,Date_of_Death,Intubated,Pneumonia,Age,Pregnant,Diabetes,...,Asthma,Immunosuppressed,Hypertension,Other_Disease,Cardiovascular_Disease,Obesity,Chronic_Renal_Disease,Tobacco_Use,COVID_Test_Result,ICU_Admission
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [64]:
# Understanding the dataset

## Display the Unique values in each column
distinct_values = {col: covid[col].unique() for col in covid.columns if col not in ['Age', 'Date_of_Death']}
distinct_values

{'Treatment_Level': array([2, 1], dtype=int64),
 'Medical_Unit_Type': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13], dtype=int64),
 'Sex': array([1, 2], dtype=int64),
 'Patient_Care_Type': array([1, 2], dtype=int64),
 'Intubated': array([97,  1,  2, 99], dtype=int64),
 'Pneumonia': array([ 1,  2, 99], dtype=int64),
 'Pregnant': array([ 2, 97, 98,  1], dtype=int64),
 'Diabetes': array([ 2,  1, 98], dtype=int64),
 'COPD': array([ 2,  1, 98], dtype=int64),
 'Asthma': array([ 2,  1, 98], dtype=int64),
 'Immunosuppressed': array([ 2,  1, 98], dtype=int64),
 'Hypertension': array([ 1,  2, 98], dtype=int64),
 'Other_Disease': array([ 2,  1, 98], dtype=int64),
 'Cardiovascular_Disease': array([ 2,  1, 98], dtype=int64),
 'Obesity': array([ 2,  1, 98], dtype=int64),
 'Chronic_Renal_Disease': array([ 2,  1, 98], dtype=int64),
 'Tobacco_Use': array([ 2,  1, 98], dtype=int64),
 'COVID_Test_Result': array([3, 5, 7, 6, 1, 2, 4], dtype=int64),
 'ICU_Admission': array([97,  2,  1, 99], dtype=int64)}

In [65]:
## Display the data types and non-null counts of each column
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Treatment_Level         1048575 non-null  int64
 1   Medical_Unit_Type       1048575 non-null  int64
 2   Sex                     1048575 non-null  int64
 3   Patient_Care_Type       1048575 non-null  int64
 4   Date_of_Death           1048575 non-null  object
 5   Intubated               1048575 non-null  int64
 6   Pneumonia               1048575 non-null  int64
 7   Age                     1048575 non-null  int64
 8   Pregnant                1048575 non-null  int64
 9   Diabetes                1048575 non-null  int64
 10  COPD                    1048575 non-null  int64
 11  Asthma                  1048575 non-null  int64
 12  Immunosuppressed        1048575 non-null  int64
 13  Hypertension            1048575 non-null  int64
 14  Other_Disease           1048575 non-null  int64
 15  Cardiovascular_Disease  1048575 non-null  int64
 16  Obesity                 1048575 non-null  int64
 17  Chronic_Renal_Disease   1048575 non-null  int64
 18  Tobacco_Use             1048575 non-null  int64
 19  COVID_Test_Result       1048575 non-null  int64
 20  ICU_Admission           1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [66]:
## Displat the statistical summary of the dataset
covid.describe()

,Treatment_Level,Medical_Unit_Type,Sex,Patient_Care_Type,Intubated,Pneumonia,Age,Pregnant,Diabetes,COPD,Asthma,Immunosuppressed,Hypertension,Other_Disease,Cardiovascular_Disease,Obesity,Chronic_Renal_Disease,Tobacco_Use,COVID_Test_Result,ICU_Admission
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,1.632194e+00,8.980565e+00,1.499259e+00,1.190765e+00,7.952288e+01,3.346831e+00,4.179410e+01,4.976558e+01,2.186404e+00,2.260569e+00,2.242626e+00,2.298132e+00,2.128989e+00,2.435143e+00,2.261810e+00,2.125176e+00,2.257180e+00,2.214333e+00,5.305653e+00,7.955397e+01
std,4.822084e-01,3.723278e+00,4.999997e-01,3.929041e-01,3.686889e+01,1.191288e+01,1.690739e+01,4.751073e+01,5.424242e+00,5.132258e+00,5.114089e+00,5.462843e+00,5.236397e+00,6.646676e+00,5.194850e+00,5.175445e+00,5.135354e+00,5.323097e+00,1.881165e+00,3.682307e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,3.000000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,9.700000e+01
50%,2.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,4.000000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+00,9.700000e+01
75%,2.000000e+00,1.200000e+01,2.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,5.300000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,9.700000e+01
max,2.000000e+00,1.300000e+01,2.000000e+00,2.000000e+00,9.900000e+01,9.900000e+01,1.210000e+02,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,7.000000e+00,9.900000e+01

In [68]:
# Data Preprocessing

## replace 97,98 and 99 with NaN
cols_to_clean = [
    'Intubated', 'Pneumonia', 'Pregnant', 'Diabetes', 'COPD', 
    'Asthma', 'Immunosuppressed', 'Hypertension', 'Other_Disease', 
    'Cardiovascular_Disease', 'Obesity', 'Chronic_Renal_Disease', 
    'Tobacco_Use', 'ICU_Admission'
]

for col in cols_to_clean:
    covid[col] = covid[col].replace({97: np.nan, 98: np.nan, 99: np.nan})

In [70]:
## Drop the duplicated rows
covid.drop_duplicates(inplace = True)

In [71]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 236526 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Treatment_Level         236526 non-null  int64
 1   Medical_Unit_Type       236526 non-null  int64
 2   Sex                     236526 non-null  int64
 3   Patient_Care_Type       236526 non-null  int64
 4   Date_of_Death           236526 non-null  object
 5   Intubated               131139 non-null  float64
 6   Pneumonia               229339 non-null  float64
 7   Age                     236526 non-null  int64
 8   Pregnant                105069 non-null  float64
 9   Diabetes                233686 non-null  float64
 10  COPD                    233997 non-null  float64
 11  Asthma                  234020 non-null  float64
 12  Immunosuppressed        233600 non-null  float64
 13  Hypertension            233906 non-null  float64
 14  Other_Disease           232164 non-null  float64
 15  Cardiovascular_Disease  233923 non-null  float64
 16  Obesity                 233972 non-null  float64
 17  Chronic_Renal_Disease   233995 non-null  float64
 18  Tobacco_Use             233788 non-null  float64
 19  COVID_Test_Result       236526 non-null  int64
 20  ICU_Admission           130990 non-null  float64
dtypes: float64(14), int64(6), object(1)
memory usage: 39.7+ MB

In [ ]:
cols = [
    'Intubated', 'Pneumonia', 'Age', 'Pregnant', 'Diabetes', 'COPD', 
    'Asthma', 'Immunosuppressed', 'Hypertension', 'Other_Disease', 
    'Cardiovascular_Disease', 'Obesity', 'Chronic_Renal_Disease', 
    'Tobacco_Use', 'ICU_Admission'
]
print(len(cols))
for col in cols:
    if covid[col].isnull().mean() < 0.2:  # if less than 20% missing
        covid[col].fillna(covid[col].mode()[0], inplace=True)
    else:
        print(f"Too many NaNs in {col}, consider dropping it or treating carefully.")

15
Too many NaNs in Intubated, consider dropping it or treating carefully.
Too many NaNs in Pregnant, consider dropping it or treating carefully.
Too many NaNs in ICU_Admission, consider dropping it or treating carefully.

In [ ]:
covid.describe()

,Treatment_Level,Medical_Unit_Type,Sex,Patient_Care_Type,Pneumonia,Age,Diabetes,COPD,Asthma,Immunosuppressed,Hypertension,Other_Disease,Cardiovascular_Disease,Obesity,Chronic_Renal_Disease,Tobacco_Use,COVID_Test_Result
count,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000,236501.000000
mean,1.512315,7.633896,1.547541,1.577761,1.578315,52.565376,1.688149,1.940516,1.932195,1.948034,1.627925,1.917214,1.924271,1.732229,1.927679,1.862051,4.781185
std,0.499849,3.661266,0.497736,0.493917,0.493830,19.250980,0.463250,0.236529,0.251412,0.221959,0.483359,0.275559,0.264565,0.442798,0.259019,0.344847,1.897238
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,4.000000,1.000000,1.000000,1.000000,40.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,3.000000
50%,2.000000,6.000000,2.000000,2.000000,2.000000,54.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000
75%,2.000000,12.000000,2.000000,2.000000,2.000000,67.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,7.000000
max,2.000000,13.000000,2.000000,2.000000,2.000000,121.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,7.000000